.hborder {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(14, 54, 17);
    border-bottom: 5px solid black;
}
header {
    font-size: 48px;
    color: white;
}
.imgheader {
    background-color: rgb(14, 54, 17);
    color: white;
}
li {
    background-color: rgb(14, 54, 17);
    border: 15px solid white;
    border-radius: 0;
    width: 30px;
    row-gap: 10;
}
ul {
    display: grid;
    list-style-type: none;
}