body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
.hborder {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(14, 54, 17);
    border-bottom: 5px solid black;
    border-radius: 0;
    border-left: 0;
    border-top: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}
header {
    font-size: 48px;
    color: white;
}
.imgheader {
    background-color: rgb(14, 54, 17);
    color: white;
}
li {
    background-color: white;
    border: 3px solid rgb(14, 54, 17);
    border-radius: 0;
    width: 75px;
    height: 3px;
}
ul {
    padding-right: 30px;
    display: grid;
    list-style-type: none;
    row-gap: 1px;
}