.hborder {
    display: inline-block;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: rgb(14, 54, 17);
    width: 100%;
    border-bottom: 5px solid black;
}
.header {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    display: inline;
    font-size: 48px;
    color: white;
    vertical-align: top;
}
.imgheader {
    display: inline;
    background-color: rgb(14, 54, 17);
    color: white;
    height: 139px;
    width: 90px;
}
.menu {
    height: 0px;
    display: inline-block;
    background-color: black;
    border: 1px solid black;
    border-radius: 0;
    width: 5px;
}