body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
.hborder {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(14, 54, 17);
    border-bottom: 5px solid black;
    border-radius: 0;
    height: 139px;
}
h1 {
    font-size: 90px;
    color: white;
    padding-top: 20px;
    margin-top: 0;
}
.imgheader {
    background-color: rgb(14, 54, 17);
    color: white;
}
li {
    background-color: white;
    border: 0px solid rgb(14, 54, 71);
    border-radius: 0;
    height: 7px;
    width: 75px;
    margin: 0;
    padding: 0;
}
ul {
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    width: 80px;
    justify-content: stretch;
    margin: 0;
    border: 0;
}
.background {
    background-image: url("root/main/images/canobolas canteen.jpg");
}